<!-- HEADING BLOCK -->
<div class="header contactHeader text-center py-4">Contact Us</div>

<!-- CONTACTS BLOCK -->
<div class="contactBox py-2">
    <div class="contactItem d-flex py-2">
        <div class="contactIcon d-inline-block">
            <div class="img-responsive img-responsive-4by3">
                <img src="../../../assets/images/email.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <div class="d-inline-block px-3">
            <div class="text-center h5 my-2 contactItemHeading">By Email</div>
            <div class="container-fluid contactItemData text-justified"><ul>
                <li>nginyatechnologies@gmail.com</li>
            </ul></div>
        </div>
    </div>
    <div class="contactItem d-flex py-2">
        <div class="contactIcon d-inline-block">
            <div class="img-responsive img-responsive-4by3">
                <img src="../../../assets/images/telephone-caller.jpeg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <div class="d-inline-block px-3">
            <div class="text-center h5 my-2 contactItemHeading">By Telephone</div>
            <div class="container-fluid contactItemData text-justified"><ul>
                <li>+237 682465658</li>
                <li>+237 682465658</li>
            </ul></div>
        </div>
    </div>
    <div class="contactItem d-flex py-2">
        <div class="contactIcon d-inline-block">
            <div class="img-responsive img-responsive-4by3">
                <img src="../../../assets/images/whatsapp.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <div class="d-inline-block px-3">
            <div class="text-center h5 my-2 contactItemHeading">On Whatsapp</div>
            <div class="container-fluid contactItemData text-justified"><ul>
                <li>+237 682465658</li>
                <li>+237 682465658</li>

            </ul></div>
        </div>
    </div>
    <div class="contactItem d-flex py-2">
        <div class="contactIcon d-inline-block">
            <div class="img-responsive img-responsive-4by3">
                <img src="../../../assets/images/office.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <div class="d-inline-block px-3">
            <div class="text-center h5 my-2 contactItemHeading">Through Office</div>
            <div class="container-fluid contactItemData text-justified"><ul>
                <li>Malingo, Molyko-Buea, South-West Cameroon</li>
            </ul></div>
        </div>
    </div>
    <div class="contactItem d-flex py-2">
        <div class="contactIcon d-inline-block">
            <div class="img-responsive img-responsive-4by3">
                <img src="../../../assets/images/social-media.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <div class="d-inline-block px-3">
            <div class="text-center h5 my-2 contactItemHeading">Other Channels</div>
            <div class="container-fluid contactItemData text-justified"><ul>
                <li>NGINYATECHNOLOGIES-6@2018 on facebook</li>
                
            </ul></div>
        </div>
    </div>
</div>