<div class="HeaderBox row container-fluid">
    <div class="col-xs-3 col-sm-3 col-md-2 navbar navbar-expand-lg">
        <div class="container img img-responsive">
                <img src="../../../assets/images/Group 11.png" alt="" class="logo img img-responsive img-circle">
        </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-10 navbar navbar-expand-lg menuBox text-center">
        <div class="container pane">
            <button class="btn navbar-toggler text-white bg-dark" type="button" data-target="#navigationMenu" data-toggle="collapse"><b><span>&gt;</span></b></button>
            <div id="navigationMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav nav text-right">
                    <li class="nav-item d-block mx-1 px-2"><a routerLink="home" class="nav-link">Home</a></li>
                    <li class="nav-item d-block mx-1 px-2"><a routerLink="services" class="nav-link">Services</a></li>
                    <li class="nav-item d-block mx-1 px-2"><a routerLink="projects" class="nav-link">Projects</a></li>
                    <!-- <li class="nav-item d-block mx-1 px-2"><a routerLink="" class="nav-link">Portfolio</a></li> -->
                    <li class="nav-item d-block mx-1 px-2"><a routerLink="contact" class="nav-link">Contact</a></li>
                    <li class="nav-item d-block mx-1 px-2"><a routerLink="about" class="nav-link">About</a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>

<!-- Header background -->
<div class="headerBackground row">
    <div class="col-sm-7 headerTextInfo">
        <div class="brandText">WELCOME TO <span class="brandTextBigger">NGINYATECHNOLOGIES <hr/></span></div>
    </div>
    <div class="col-sm-5 headerImage img-responsive">
        <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
    </div>
</div>