<div class="mainBox"><form action="" method="post" class="form newContactForm" name="newContactForm">
    <input type="text" name="contactLabel" class="input form-control" placeholder="Contact label" required>
    <input type="text" name="contactValue" class="input form-control" placeholder="Contact here" required>
    <div class="text-center">
        <a (click)="cancelOperation()" class=" formAction fa fa-eraser">Cancel</a>
        <a (click)="submitProduct()"  class="formAction fa fa-save">Submit</a>
    </div>
</form></div>