<div class="footerFrame footer container-fluid">
    <div class="footerTitle col-sm-9">WORK WITH NGINYATECHNOLOGIES</div>
    <div class="row footerBody">
        <div class="col-sm-5 col-md-4 forms">
            <div class="sunscriptionBox">
                <form action="" method="post" class="form text-center text-bold" name="sunscriptionForm">
                    <div class="form-group col-xs-9 mx-auto">
                        <label for="">Subscribe for updates on our products</label><br>
                        <input type="email" name="emailField" id="" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="btn btn-default bg-light float-right">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="chatBox">
                <button class="btn">Place a message</button>
                <form action="" method="post"></form>
            </div>
        </div>
        <div class="col-sm-7 col-md-8 row otherFooterInfo">
            <div class="col-sm-5 col-md-4">
                <h4>Services</h4>
                <hr>
                <ul>
                    <li>Software development</li>
                    <li>Software internships</li>
                    <li>Training</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <h4>Our Values</h4><hr>
                <ul class="">
                    <li>Your satisfaction</li>
                    <li>Product quality</li>
                    <li>Product standards</li>
                    <li>Employee well being</li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-5 text-left">
                <div class="img img-rouded contactIcon">
                    <span class="fa fa-envelope"></span> nginyatechnologies@gmail.com<br>
                </div>
                <div class="img img-rouded contactIcon">
                    <span class="fab fa-whatsapp"></span> (+237)682157983/675012480<br>
                </div>
                <div class="img img-rouded contactIcon">
                    <span class="fab fa-facebook-f"></span> facebook.com/pages/1546573548889476<br>
                </div>
                <div class="img img-rouded contactIcon">
                    <span class="fa fa-phone"></span> (+237)682157983/675012480<br>
                </div>
            </div>
        </div>
    </div>
</div>