<div class="text-center text-black serviceRelatedImagesHeader">Home</div>

<div class="homeBox row container-fluid">
    <!-- SIDE BAR CONTAINING IMAGES -->
    <div class="col-md-4 sideBar">
        <div class="sideImage img-responsive img-responsive-4by3">
            <img src="../../../assets/images/luca-bravo-217276-unsplash.jpg" alt="" class="img img-responsive img-thumbnail">
        </div>
        <div class="sideImage img-responsive img-responsive-4by3">
            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
        </div>
        <div class="sideImage img-responsive img-responsive-4by3">
            <img src="../../../assets/images/eef5addc3bf3c9a386ddf4d352c60272.jpg" alt="" class="img img-responsive img-thumbnail">
        </div>
        <div class="sideImage img-responsive img-responsive-4by3">
            <img src="../../../assets/images/WhatsApp Image 2020-09-22 at 2.49.51 PM.jpeg" alt="" class="img img-responsive img-thumbnail">
        </div>
        <div class="sideImage img-responsive img-responsive-4by3">
            <img src="../../../assets/images/image.jpg" alt="" class="img img-responsive img-thumbnail">
        </div>
    </div>
    <!-- RIGHT PANE OF THE HOME COMPONENT -->
    <div class="col-md-8 bodySection">
        <!-- MAIN TEXT INFORMATION -->
        <div class="container-fluid text-justified textInfo">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi cum ducimus numquam, minus excepturi quidem culpa reiciendis ex quasi inventore asperiores quae dolorum vel, nisi, vero illum aliquid. Commodi, nostrum.
            Possimus nemo, consequatur expedita asperiores necessitatibus aperiam id voluptatibus labore incidunt velit assumenda rem molestias mollitia soluta at fuga tenetur ut vero quaerat! Molestias quas porro possimus quo unde adipisci?
            Perferendis a quis laborum voluptas sint iusto eligendi neque illum qui vero sapiente rerum dolorem tempore, corporis ipsum porro minima fugiat voluptates consectetur reprehenderit id dolorum ab dicta! Libero, labore.
        </div>
        <!-- SERVICES -->
        <div class="media">
            <div class="media-left container-fluid">
                <div class="media-heading">Our Services</div>
                <div class="text-center services container-fluid">
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/task-board.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Software Development</div>
                        <div class="caption text-center">Short service description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/software-developer-internships.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Internships</div>
                        <div class="caption text-center container-fluid">Short service description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident excepturi laudantium reprehenderit voluptatum numquam assumenda eveniet molestiae blanditiis quasi. Modi, cumque culpa ratione incidunt accusamus repellat soluta. Soluta, officiis.</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Training Programs</div>
                        <div class="caption text-center">Short service description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Others</div>
                        <div class="caption text-center">Short service description</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PROJECTS -->
        <div class="media">
            <div class="media-left container-fluid">
                <div class="media-heading h3 text-center d-block">Our Projects</div>
                <div class="projectsRow container-fluid">
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    <div class="serviceItem d-inline-block img-responsive">
                        <div class="container img-responsive img-responsive-4by3">
                            <img src="../../../assets/images/516e2fda94f0aec9abaf297e90033a38.jpg" alt="" class="img img-responsive img-thumbnail">
                        </div>
                        <div class="text-center h5">Project Name</div>
                        <div class="caption text-center">State & description</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- VALUES -->
        <div class="media">
            <div class="media-left">
                <div class="media-heading">Our Values</div>
                <ul>
                    <li>{{ourValues[0]}}</li>
                    <li>{{ourValues[1]}}</li>
                    <li>{{ourValues[2]}}</li>
                </ul>
            </div>
            <div class="media-object img-responsive img-responsive-4by3">
                <img src="../../../assets/images/WhatsApp Image 2020-09-22 at 2.49.51 PM.jpeg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <!-- CUSTOMER BENEFITS(What You Enjoy) -->
        <div class="media">
            <div class="media-left container-fluid text-center my-4 list-unstyled">
                <div class="media-heading">What You Enjoy</div>
                <ul>
                    <li>Discount for regular customers</li>
                    <li>Annual CUSTOMER-SWAGS for the best customers</li>
                    <li>Assistive education to customers</li>
                </ul>
            </div>
        </div>
        <!-- OUR VISION -->
        <div class="media">
            <div class="media-left">
                <div class="media-heading">Our Vision</div>
                <ul>
                    <li>{{ourVision[0]}}</li>
                    <li>{{ourVision[1]}}</li>
                    <li>{{ourVision[2]}}</li>
                    <li>{{ourVision[3]}}</li>
                   
                </ul>
            </div>
            <div class="media-object img-responsive img-responsive-4by3">
                <img src="../../../assets/images/57632aef883b0ca236cf9b74b2b4f984.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <!-- BACKGROUND INFORMATION -->
        <div class="media">
            <div class="media-left">
                <div class="media-heading">Background Information</div>
                <p class="d-block well p-3">{{backgroundInfo}}</p>
            </div>
            <div class="media-object img-responsive img-responsive-4by3">
                <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
        </div>
        <!-- CONTACT INFORMATION -->
        <div class="container mt-4 mb-2">
            <div class="media-left">
                <div class="media-heading">Get in touch</div>
                <div class="text-center container-fluid text-secondary">
                    <span class="fa fa-envelope img img-circle contactIcon m-2">:nginyatechnologies@gmail.com</span>
                    <span class="fa fa-phone img img-circle contactIcon m-2">:(+237)682157983/675012480</span>
                    <span routerLink="" class="fab fa-twitter img img-circle contactIcon m-2">:twitter.com/nginyatechnologies</span>
                    <span routerLink="" class="fab fa-facebook-f img img-circle contactIcon m-2">:facebook.com/pages/1546573548889476</span>
                    <span class="fab fa-whatsapp img img-circle contactIcon m-2">:(+237)682157983/675012480</span>
                </div>
            </div>
        </div>
    </div>
</div>