<div class="activeService">
    <!-- ALL OUR PROJECTS IN A ROW -->
    <div class="text-center text-black serviceRelatedImagesHeader">Our Projects</div>
    <div class="serviceRelatedImages container-fluid" data-toggler="tooltip" title="Click project for details">
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/IMG_20201231_190950.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/task-board.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        <div class="relatedImage img-responsive img-responsive-4by3">
            <div class="container-fluid img-responsive img-responsive-4by3">
                <img src="../../../assets/images/monitor-header-bg.jpg" alt="" class="img img-responsive img-thumbnail">
            </div>
            <div class="caption container-fluid text-justified">Who they are, what they do. That's all officiis blanditiis, obcaecati est accusantium consectetur impedit rerum quisquam quis magnam commodi recusandae provident voluptatum delectus sit placeat sequi.</div>
        </div>
        
    </div>
    <!-- ACTIVE SERVICE HEADER -->
    <div class="media container-fluid activeServiceHeader">
        <div class="media-left">
            <div class="media-heading h4 text-center">Active Project Heading<hr class="bg-dark"></div>
            <div class="caption text-justified mx-1 my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia unde illum aliquid nihil aut suscipit omnis, dicta, non doloremque dolore aperiam et porro sunt cum reprehenderit repudiandae sed rerum repellat.</div>
        </div>
        <div class="media-object img-responsive img-responsive-4by3">
            <img src="../../../assets/images/task-board.jpg" alt="" class="img img-responsive img-thumbnail">
        </div>
    </div>
    <!-- ACTIVE SERVICE DETAILS -->
    <div class="activeServiceDetails container-fluid">
        <div class="blockItem container-fluid d-flex">
            <div class="blockItemHeader text-center">
                <div class="img-responsive img-responsive-4by3">
                    <img src="../../../assets/images/eef5addc3bf3c9a386ddf4d352c60272.jpg" alt="" class="img img-responsive img-thumbnail">
                </div>
            </div>
            <div class="blockItemBody caption text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit quibusdam illo rem assumenda laborum neque adipisci, earum in expedita, obcaecati accusantium, suscipit nostrum asperiores laudantium reprehenderit aut veniam delectus!</div>
        </div>
        <div class="blockItem container-fluid d-flex">
            <div class="blockItemHeader text-center">
                <div class="img-responsive img-responsive-4by3">
                    <img src="../../../assets/images/eef5addc3bf3c9a386ddf4d352c60272.jpg" alt="" class="img img-responsive img-thumbnail">
                </div>
            </div>
            <div class="blockItemBody caption text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit quibusdam illo rem assumenda laborum neque adipisci, earum in expedita, obcaecati accusantium, suscipit nostrum asperiores laudantium reprehenderit aut veniam delectus!</div>
        </div>
        <div class="blockItem container-fluid d-flex">
            <div class="blockItemHeader text-center">
                <div class="img-responsive img-responsive-4by3">
                    <img src="../../../assets/images/eef5addc3bf3c9a386ddf4d352c60272.jpg" alt="" class="img img-responsive img-thumbnail">
                </div>
            </div>
            <div class="blockItemBody caption text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit quibusdam illo rem assumenda laborum neque adipisci, earum in expedita, obcaecati accusantium, suscipit nostrum asperiores laudantium reprehenderit aut veniam delectus!</div>
        </div>
        <div class="blockItem container-fluid d-flex">
            <div class="blockItemHeader text-center">
                <div class="img-responsive img-responsive-4by3">
                    <img src="../../../assets/images/eef5addc3bf3c9a386ddf4d352c60272.jpg" alt="" class="img img-responsive img-thumbnail">
                </div>
            </div>
            <div class="blockItemBody caption text-justified">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit quibusdam illo rem assumenda laborum neque adipisci, earum in expedita, obcaecati accusantium, suscipit nostrum asperiores laudantium reprehenderit aut veniam delectus!</div>
        </div>        
    </div>
</div>