<div class="row">
    <div class="col-sm-4 col-md-4 px-3">
        <h3>Products</h3>
        <hr>
        <div class="itemBox">
            <div class="h5 title text-center">Product title</div>
            <div class="productInfo">
                <span class="productIcon">
                    <img src="../../../../assets/images/image.jpg" alt="" width="45" height="45" class="rounded-circle">
                </span>
                <span class="productDescription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis facilis harum ullam deserunt
                </span>
                <span class="moreProducts d-flex">
                    <a href="" class="btn-sm btn-primary">more</a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 px-3">
        <h3>services</h3>
        <hr>
        <div class="itemBox">
            <div class="h5 title text-center">Product title</div>
            <div class="productInfo">
                <span class="productIcon">
                    <img src="../../../../assets/images/image.jpg" alt="" width="45" height="45" class="rounded-circle">
                </span>
                <span class="productDescription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis facilis harum ullam deserunt
                </span>
                <span class="moreProducts d-flex">
                    <a href="" class="btn-sm btn-primary">more</a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 px-3">
        <div class="img-responsive img-responsive-4by3">
            <img src="./../../../../assets/images/office.jpg" alt="" class="img img-responsive rounded">
        </div>
    </div>
</div>