.loginForm{
    width: 75%;
    margin: 3rem auto;
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    background-color: var(--primaryColorWhite);
    border-radius: 0.5rem;
    border-color: var(--primaryColorWhite);
}
.formPane{
    background: linear-gradient(to bottom, var(--primaryColorBlack) 0% 40%, var(--primaryColorWhite) 40% 41%, transparent 41% 59%, var(--primaryColorWhite) 59% 60%, var(--primaryColorBlack) 60%);
    border: 1px solid white;
    border-radius: 0.5rem;
}
input{
    border-width: 0 0 1px 0;
    border-color: var(--primaryColorBlack);
    border-radius: 0;
}
.loginBox{
    background: url('../../../assets/images/luca-bravo-217276-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}