<div class="container-fluid row loginBox">
    <div class="col-sm-5"></div>
    <div class="col-sm-5 d-flex text-center formPane my-2">
        <form action="" method="post" class="form loginForm pb-4">
            <div class="container h4 my-4">User Signup</div>
            <input type="email" name="email" placeholder="Enter email" class="form-control my-1">
            <input type="password" name="password" placeholder="Enter password" class="form-control my-1">
            <input type="password" name="confirmPassword" placeholder="Re-enter password" class="form-control my-1">
            <div class="mt-3 container">
                <span><a (click)="signup()" class="mx-2">signup</a></span>
            </div>
            <div class="container mx-auto mt-4 text-right">
                <span><a routerLink="../login" class="mx-1">Login</a></span>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>