<div class="displayBox">
    <div class="dataItem row">
        <div class="col-xs-4">
            <img src="" alt="" class="img-responsive rounded-circle dataIcon" width="80px" height="80px">
        </div>
        <div class="col-xs-7">
            <span class="dataText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, corporis omnis! </span>
            <div class="dataActions d-block">
                <span class="dataAction fa fa-edit"></span>
                <span class="dataAction fa fa-trash"></span>
                <span class="dataAction fa fa-link"></span>
            </div>
    </div>
    </div>
</div>